.left{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #ECF0F3;
}
.left .item, .item-1{
    margin-top: 5px;
    
}
.left .item-1{
    margin-top: 20px;
}
.left .btn {
    box-shadow: rgba(60, 34, 160, 0.2) 0px 2px 8px 0px;
    background: #ECF0F3;
    color: black;
    padding: 5px 50px;
    border: none;
}
.left .item-1, .left .item i{
    color: rgb(204, 204, 43);
    font-size: 18px;
}
.left .item-1, .left .item a{
    font-size: 18px;
}
.left .active a{
    background: #0D6EFD;
    width: 100%;
    color: white;
}
.right{
    box-shadow: rgba(60, 34, 160, 0.2) 0px 2px 8px 0px;
    background: #ECF0F3;
}
.right .title i{
    color: rgb(179, 49, 49);
}
.key{
    box-shadow: rgba(60, 34, 160, 0.2) 0px 2px 8px 0px;
    background: white;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.key::before{
    position: absolute;
    content: "";
    width: 5px;
    height: 100%;
    background: #5BC0DE;
    top: 0;
    left: 0;
}
.key h4{
    font-size: 16px;
}
.key h4 i{
    color: rgb(220, 220, 46);
}
.form-group input, .form-group select{
    box-shadow: rgba(60, 34, 160, 0.2) 0px 2px 8px 0px;
    background: #ECF0F3;
}
.right .btn{
    padding: 6px 30px;
    border-radius: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 16px;
}
.result-general{
    border: 1px solid #BADBCC;
    height: 40px;
    background: #D1E7DD !important;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.result-general{
    padding-left: 15px;
}
.result-general i{
    margin-right: 5px;
    color: rgb(236, 166, 35);
}